USE [MMTShop]
GO
/****** Object:  StoredProcedure [dbo].[GetProductsForCategory]    Script Date: 13/01/2021 21:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductsForCategory] @category varchar(50)
AS
BEGIN
DECLARE @prodIdChar varchar; 
SET @prodIdChar = cast((SELECT Id FROM Category WHERE Name = @category) as varchar) ;
SELECT * FROM Product WHERE SKU LIKE @prodIdChar + '%'; 
END
GO
