USE [MMTShop]
GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 13/01/2021 21:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategories]
AS
BEGIN
    SELECT Id,Name FROM Category
END
GO
