USE [MMTShop]
GO
/****** Object:  StoredProcedure [dbo].[GetProducts]    Script Date: 13/01/2021 21:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetProducts]
AS
SELECT * FROM Product
GO;
GO
